{% extends "TroiswaTestBundle::layout.html.twig" %}

{% block title %}TroiswaTestBundle:News{% endblock %}

{% block content %}
	<div class="news">
		<h2>{{news.titre}}</h2>
		<p><em>Date : <span class="color_news">{{news.date | date('d/m/Y')}}</span><br/>
		Auteur : <span class="color_news news_auteur"><a href="{{ path('troiswa_test_news_user_list', {'username': news.auteur }) }}">{{news.auteur}}</a></span><br/>
		Catégorie : <span class="color_news">{{news.category}}</span></em></p>
		<p>{{news.texte}}</p>
		{% if (is_granted ('ROLE_ADMIN')) or (is_granted ('ROLE_MODO')) %}
		<a href="{{ path('troiswa_test_news_update', {'id': news.id}) }}">Modifier</a> 
		<a href="{{ path('troiswa_test_news_delete', {'id': news.id}) }}">Supprimer</a>
		{% endif %}
		<h3>Commentaires</h3>
		<ul>
			<li>
				{% for commentaire in news.commentaires %}
				<ul>
					<li>
						<p><em>Date : <span class="color_news">{{commentaire.date | date('d/m/Y')}}</span></em></p>
					</li>
					<li>
						<p><em>Auteur : <span class="color_news">{{commentaire.auteur}}</span></em></p>
					</li>
					<li>
						<p><span class="color_news">{{commentaire.texte}}</span></p>
					</li>
				</ul>
				{% endfor %}
			</li>
		</ul>
		{% if form %}
		{{ form(form) }}
		{% else %}
		<p>Vous devez être connecté(e) pour poster un commentaire.</p>
		{% endif %}
		<a href="{{ path('troiswa_test_news_liste')}}">retour news</a>
	</div>
{% endblock %}