{% extends "TroiswaTestBundle::layout.html.twig" %}

{% block title %}TroiswaTestBundle:News:liste{% endblock %}

{% block content %}
	<div class="news_list">
		<h2>Liste des news</h2>
	{% for news in news_list %}
		<div class="news">
			<h3><a href="{{ path('troiswa_test_news_get', {'id': news.slug}) }}">{{news.titre}}</a></h3>
			<p><em>date : <span class="color_news">{{news.date | date('d/m/Y')}}</span><br/>
			auteur : <span class="color_news"><a href="{{ path('troiswa_test_news_user_list', {'username': news.auteur }) }}">{{news.auteur}}</a></span></em></p>
			<p>{{news.texte}}</p>
			{% if is_granted ('ROLE_ADMIN') %}
			<a href="{{ path('troiswa_test_news_update', {'id': news.id}) }}">modifier</a>
			<a href="{{ path('troiswa_test_news_delete', {'id': news.id}) }}">supprimer</a>
			{% endif %}
		</div>
	{% endfor %}
	{% if is_granted ('ROLE_ADMIN') %}
	<div class="news ajout">
		<a href="{{ path('troiswa_test_create')}}">ajouter news</a>
	</div>
	{% endif %}
	</div>
{% endblock %}
{# ceci est un commentaire #}